body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h2,
p {
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.2em;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

.width {
  max-width: 100%;
  width: 80%;
  margin: 0px auto;
}

#head {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 30%);


}

#head .left img {
  width: 10%;
}

#head .left {
  width: 50%;
}

#head .right {
  width: 50%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 1em;
  color: black;
}

.btn {
  width: 120px;
  padding: 15px 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
}

/* <--------------------------------hero section css start desktop --------------------------------> */

#hero {
  background-color: white;
}

#hero .row {
  padding: 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .row .left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

#hero .row .left h1 {
  font-size: 2.5em;
  color: black;

}

#hero .row .left p {
  font-size: 1em;
  color: black;
}

#hero .row .right {
  width: 50%;
  align-items: end;
  display: flex;
  justify-content: center;

}

#hero .row .right img {
  width: 450px;
  height: 450px;
  overflow: hidden;
  object-fit: contain;
}

/* <--------------------------------hero section css End desktop--------------------------------> */



/* <----------------------------------------------------------------Tablet media query start----------------------------------------------------------------> */


@media (min-width: 768px) and (max-width: 1024px) {

  h1 {
    font-size: 2.5em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 2.2em;
    line-height: 1.2em;
  }

  p {
    font-size: 1em;
    line-height: 1.6em;
  }

  .width {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
  }

  /* <--------------------------------header section css start tablet--------------------------------> */

  #head {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 30%);
  }

  #head .left {
    width: 30%;
  }

  #head .right {
    width: 70%;
  }


  /* <--------------------------------header section css End tablet--------------------------------> */

  /* <--------------------------------hero section css start tablet--------------------------------> */
  #hero .row {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* <--------------------------------hero section css End tablet--------------------------------> */
}


/* <----------------------------------------------------------------Tablet media query end ----------------------------------------------------------------> */





/* <----------------------------------------------------------------Mobile media query start----------------------------------------------------------------> */


@media (min-width: 375px) and (max-width: 667px) {

  h1 {
    font-size: 2em;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  p {
    font-size: 1em;
    line-height: 1.6em;
  }

  .width {
    max-width: 100%;
    width: 100%;
    margin: 0px auto;
  }



  /* <--------------------------------header section css Start  Mobile--------------------------------> */


  #head {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 30%);
  }

  #hero .row {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #head .left {
    width: 30%;
  }

  #head .right {
    width: 70%;
  }



  /* <--------------------------------header section css End Mobile--------------------------------> */



  /* <--------------------------------hero section css Start  Mobile--------------------------------> */


  #hero .row {
    padding: 40px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
  }

  #hero .row .left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#hero .row .Right {
  width: 100%;
}
#hero .row .right img {
  width: 100%;
  height:auto;
  overflow: hidden;
  object-fit: contain;
}


  /* <--------------------------------hero section css End Mobile--------------------------------> */

}

/* 
<----------------------------------------------------------------Mobile media query end----------------------------------------------------------------> */